# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Entornos virtuales
.venv/
venv/
env/

# Sistema operativo
.DS_Store
Thumbs.db

# Variables de entorno
.env

.superpowers/

# LaTeX build artifacts
reports/*.aux
reports/*.fdb_latexmk
reports/*.fls
reports/*.log
reports/*.out
reports/*.synctex.gz